services:
  django:
    build: .
    container_name: django
    depends_on:
      db:
        condition: service_healthy
    environment:
      - POSTGRES_DB=app_db
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=app_pass
      - DB_HOST=db
      - DB_PORT=5432
    ports:
      - "8000:8000"
    networks:
      - app-net

  db:
    image: postgres:16
    container_name: db
    environment:
      - POSTGRES_DB=app_db
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=app_pass
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d app_db"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-net

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    depends_on:
      - django
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    networks:
      - app-net

volumes:
  db_data:

networks:
  app-net:
