controller:
  admin:
    username: admin
    password: admin123

  serviceType: LoadBalancer
  servicePort: 80
  service:
    port: 80
    targetPort: 8080

  resources:
    limits:
      cpu: "600m"
      memory: "768Mi"
    requests:
      cpu: "300m"
      memory: "512Mi"

  persistence:
    enabled: true
    storageClass: "ebs-sc"
    size: 10Gi

  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - configuration-as-code:latest
    - credentials-binding:latest
    - github:latest
    - docker-plugin:latest
    - docker-workflow:latest
    - job-dsl:latest

  serviceAccount:
    name: jenkins-sa
    create: false

agent:
  resources:
    requests:
      cpu: "300m"
      memory: "384Mi"
    limits:
      cpu: "600m"
      memory: "512Mi"

  JCasC:
    configScripts:
      security: |
        security:
          scriptApproval:
            approvedSignatures:
              - "method groovy.lang.GroovyObject invokeMethod java.lang.String java.lang.Object"
              - "new groovy.lang.GroovyShell"
              - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods getText java.io.File"
      credentials: |
        credentials:
          system:
            domainCredentials:
              - credentials:
                  - usernamePassword:
                      scope: GLOBAL
                      id: github-token
                      username: ${github_username}
                      password: ${github_token}
                      description: GitHub PAT
      seed-job: |
        jobs:
          - script: >
              job('seed-job') {
                description('Job to generate pipeline for Django project')
                scm {
                  git {
                    remote {
                      url('${github_repo_url}')
                      credentials('github-token')
                    }
                    branches('*/main')
                  }
                }
                steps {
                  dsl {
                    text('''
                      pipelineJob("django-ci-cd") {
                        definition {
                          cpsScm {
                            scm {
                              git {
                                remote {
                                  url("${github_repo_url}")
                                  credentials("github-token")
                                }
                                branches("*/main")
                              }
                            }
                            scriptPath("Jenkinsfile")
                          }
                        }
                      }
                    ''')
                  }
                }
              }
